@{ ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutList.cshtml"; }

<div class="admin-main">
    <blockquote class="layui-elem-quote p10">
        <form id="formSearch" class="layui-form" action="">
            <div class="layui-form-item" style="margin-bottom:0px;">
                <label class="layui-form-label">Patients：</label>
                <div class="layui-input-inline">
                    <select name="Department" id="Department" lay-verify="required" lay-search="">
                        <option value="">Select</option>
                        <option value="家庭医生">家庭医生</option>
                        <option value="耳鼻喉科医生">耳鼻喉科医生</option>
                        <option value="皮肤科医生">皮肤科医生</option>
                        <option value="眼科医生">眼科医生</option>
                        <option value="神经科医生">神经科医生</option>
                        <option value="骨科医生">骨科医生</option>
                        <option value="儿科医生">儿科医生</option>
                    </select>
                </div>
                <label class="layui-form-label">Status：</label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline">
                        <select name="Type1" id="Type1" lay-verify="required" lay-search="">
                            <option value="0">Unfinished</option>
                            <option value="1">Complete</option>
                        </select>
                    </div>
                </div>


                @Html.SearchBtnHtml()
                @Html.ResetBtnHtml()
                <div style="float:right;">
                    @Html.TopToolBarHtml(ViewData["ActionFormRightTop"])
                </div>
            </div>
        </form>
    </blockquote>
    <div class="layui-field-box">
        <table id="defaultTable" lay-filter="defaultruv"></table>
        <!-- 这里的 checked 的状态只是演示 -->
        <script type="text/html" id="bar">
            @Html.ToolBarHtml(ViewData["ActionList"])
        </script>
    </div>
</div>
<script>
        layui.use(['table', 'common', 'form'], function () {
            var table = layui.table,
                form = layui.form,
                common = layui.common;
            //表格
            table.render({
                id: 'defaultReload'
               , elem: '#defaultTable'
               , height: 'full-112' //高度最大化减去差值
                , url: '/Business/Appointment/List' //数据接口
               , page: true //开启分页
               , cols: [[ //表头
                 { checkbox: true, fixed: true },
                   { field: 'Id', title: 'Id', width: 80, fixed: 'left' }
                   , { field: 'Department', title: 'Department', width: 160 }
                   , { field: 'CreateOn', title: 'StartTime', width: 160, sort: true, templet: '<div>{{showDate(d.BeginTime)}}</div>' }
                   , { field: 'CreateOn', title: 'EndTime', width: 160, sort: true, templet: '<div>{{showDate(d.EndTime)}}</div>' }
                   , { field: 'Status', title: 'AppointmentStatus', width: 160, sort: true}


               /*  , { field: 'CreateOn', title: '创建时间', width: 160, sort: true, templet: '<div>{{showDate(d.CreateOn)}}</div>' }*/
                   , { field: '', title: 'Action', toolbar: "#bar" }
               ]]
            });
            var $ = layui.$, active = {
                reload: function () {
                    var jsonWhere = urlToJson($("#formSearch").serialize());
                    //执行重载
                    table.reload('defaultReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                      , where: jsonWhere
                    });
                }
            };
            //服务器排序
            table.on('sort(defaultruv)', function (obj) {
                //尽管我们的 table 自带排序功能，但并没有请求服务端。
                //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，如：
                table.reload('defaultReload', {
                    initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                  , where: { //请求参数
                      field: obj.field //排序字段
                    , order: obj.type //排序方式
                  }
                });
            });
            $('#btnSearch').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
            //add
            $('#btnAdd').on('click', function () {
                common.openTop({
                    title: 'Add', w: '680px', h: '560px', content: '/Business/Work/Add/'
                });
            });

            $('#btnfz').on('click', function () {


                layer.confirm('Are you sure to copy？', { title: "prompt", btn: ['confirm','cancel']}, function (index) {
                    $.ajax({
                        url: "/Business/Work/Copy",
                        type: "POST",
                        dataType: "json",
                        success: function (data) {

                            if (data.state == "success") {

                                active.reload();
                                common.msgSuccess("success");

                            } else {
                                common.msgError("fail");
                            }
                            layer.close(index);//关闭弹框
                        }
                    });
                });


            });

            //监听工具条
            table.on('tool(defaultruv)', function (obj) {
                debugger
                var data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('Are you sure to delete？', { title: "prompt", btn: ['confirm', 'cancel']}, function (index) {
                        $.ajax({
                            url: "/Business/Work/Delete",
                            type: "POST",
                            data: { "Id": data.Id },
                            dataType: "json",
                            success: function (data) {
                                if (data.state == "success") {
                                    obj.del();//删除这一行
                                    common.msgSuccess("success");
                                } else {
                                    common.msgError("fail");
                                }
                                layer.close(index);//关闭弹框
                            }
                        });
                    });
                }
                else if (obj.event === 'confirm') {

                    if (data.Type == 1) {

                        common.msgError("Have made an appointment");
                        return;
                    }
                    layer.confirm('Are you sure ？', { title: "prompt", btn: ['confirm', 'cancel'] }, function (index) {
                        $.ajax({
                            url: "/Business/Appointment/Confirm",
                            type: "POST",
                            data: { "Id": data.Id },
                            dataType: "json",
                            success: function (data) {
                                if (data.state == "success") {
                                    active.reload();
                                    common.msgSuccess("success");
                                   
                                } else {
                                    common.msgError("fail");
                                }
                                layer.close(index);//关闭弹框
                            }
                        });
                    });
                }
                else if (obj.event === 'detail') {
                    if (data.Status == false) {
                        common.msgError("No appointment");
                    }
                    else {
                        layer.prompt({
                            formType: 2,
                            value: data.Remark,
                            title: 'info',
                            area: ['500px', '150px'],
                            btn: []

                        }, function (value, index, elem) {

                            layer.close(index);
                        });
                    }
                }

                else if (obj.event === 'edit') {
                    if (data.Status == false) {
                        common.msgError("No appointment");
                    }
                    else {
                        layer.prompt({
                            formType: 2,
                            title: 'info',
                            area: ['500px', '150px'],
                        }, function (value, index, elem) {
                            alert(value);
                            layer.close(index);
                        });
                    }
                }
            });
        });
</script>

