@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>控制面板</title>
    <link href="~/Areas/Admin/plugins/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="admin-main">
       
    </div>
</body>
</html>
